@mixin repice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@mixin notFoundAndAuthorHeader {
  width: 80%;
  margin: 25px auto 0;
  border-bottom: 1.5px solid #cecece;
}

@mixin sidebar {
  width: 288px;
  height: 370px;
  background-color: #fff;
  margin: 20px 40px;
}

@mixin sidebarHeader {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin: 20px auto 5px;
  width: 90%;
  border-bottom: 1.5px solid #cecece;
}

* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  background-color: #EAEAEA;
}

header {
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 75%;
    margin: 0 auto 40px;
    padding-top: 80px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 125px;
    background-color: #F8F8F8;

    .menu-logo {
      background-color: #F8F8F8;
    }

    ul {
      display: flex;
      justify-content: space-between;
      background-color: #F8F8F8;
      list-style-type: none;

      li {
        margin: 0 20px;
        cursor: pointer;
        font-size: 14px;

        .main-menu {
          display: flex;
          flex-direction: column;
          background-color: rgba(255, 255, 255, 0.5);
          position: absolute;
          margin: 25px 0 0 -40px;
          padding: 0;

          .menu-item {
            padding: 10px 0;
            color: rgb(183, 183, 183);

            &--active {
              border-bottom: 1px solid black;
              color: #000;
            }
          }
        }
      }
    }

    #findinp {
      padding: 7px 25px;
      background: url("../images/header/Search Icon.png") no-repeat left 7px center;
      border: 1px solid #000;
      outline: none;
    }
  }
}

main {
  width: 100%;

  .hero-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 420px;
    margin: 80px auto;
    background: url("../images/hero-page/sss.png") no-repeat;

    .page-header {
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 80%;
      margin: 45px 0 0 80px;

      h3 {
        color: #911026;
        font-size: 24px;
        margin: 40px 0 25px;
      }

      img {
        width: 52%;
        margin: 0;
      }

      p {
        width: 85%;
        margin: 0;
      }

      #btn-get {
        padding: 7px;
        border: 1px solid #CACACA;
        background-color: #F8F8F8;
        font-size: 11px;
        margin: 30px 0 15px;
        width: 25%;
      }
    }

    .page-bottom {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: 85%;
      width: 10%;
      height: 20%;
    }
  }

  .repice {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 370px;
    background-color: #fff;
    margin: 80px auto;

    .repice-wrapper {
      @include repice;

      .repice-container {
        display: flex;
        flex-direction: column;
        height: 75%;
        width: 33%;
        margin: 20px 30px 10px;

        img {
          width: 95%;
          height: 85%;
        }

        .repice-comments {
          display: flex;
          flex-direction: column;
          height: 25%;
          width: 100%;

          h5 {
            margin: 10px;
            font-size: 16px;
          }

          .comment {
            display: flex;
            align-items: center;
            margin-left: 10px;

            img {
              width: 12px;
              height: 12px;
              margin-right: 0;
            }

            span {
              font-size: 12px;
              margin: 0 5px;
            }

            .view {
              width: 15px;
              height: 8px;
            }
          }
        }
      }
    }
  }

  .repc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 435px;
    background-color: #fff;
    margin: 20px auto 100px;

    .photo {
      width: 45%;
      height: inherit;
    }

    .description {
      width: 55%;
      height: inherit;

      &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 20px auto;
        font-size: 30px;
        color: #055555;
      }

      &-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 10px auto;

        .icon {
          display: flex;
          align-items: center;
          margin: 5px;
          width: 35%;

          span {
            margin: 0 10px;
          }
        }

        .description-btn {
          width: 25%;
          margin-right: 0;

          #btn-repice {
            background-color: #fff;
            padding: 5px 10px;
            border: 1px solid #cecece;
          }
        }
      }

      &-info {
        width: 77%;
        font-size: 16px;
        margin: 15px auto;
      }
    }
  }

  .notauthor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 500px;
    margin: 50px auto 100px;

    .notfound {
      width: 45%;
      height: inherit;
      margin: 0;
      background: url("../images/404/bg.png") no-repeat;

      &-header {
        @include notFoundAndAuthorHeader;
      }

      &-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        margin: 150px 215px;

        h3 {
          font-size: 30px;
          margin: 0 0 15px 0;
        }

        p {
          text-align: center;
          font-weight: bold;
          color: #cecece;
        }
      }

      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        #btn-back {
          color: #000;
          border: 1px solid #cecece;
          padding: 5px 35px;
          background-color: #fff;
        }
      }
    }


    .author {
      display: flex;
      flex-wrap: wrap;
      width: 45%;
      height: 486px;
      background-color: #fff;
      margin: 12px 0 0 0;

      &-header {
        @include notFoundAndAuthorHeader;
        margin: 15px auto 0;
        width: 85%;
        height: 30px;
      }

      &-biography {
        display: flex;
        align-items: center;
        width: 85%;
        height: 100px;
        margin-top: -40px;

        .photo {
          width: 30%;
          height: 120px;
        }

        .info {
          display: flex;
          flex-direction: column;
          width: 65%;
          height: 100px;
          border-bottom: 1.5px solid #cecece;

          h3, span {
            margin: 5px 0;
          }

          img {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }

      &-info {
        width: 50%;
        margin: -50px 0 20px 180px;
        height: 170px;

        h4 {
          font-size: 20px;
          margin-bottom: 20px;
        }

        img {
          margin: 40px 0 0 100px;
        }
      }
    }
  }


  .sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;
    height: 850px;
    margin: 0 auto 100px;

    .block {
      @include sidebar;

      &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 20px 0 10px;
        border-bottom: 1.5px solid #cecece;
        color: #055555;
      }

      &-profile {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: 15px auto;
        height: 60px;

        &-info {
          margin-left: 10px;

          span {
            font-size: 15px;
          }
        }
      }

      &-bg {
        width: 100%;
        height: 200px;
        background: url("../images/sidebar/bg1.png") no-repeat;

        .img {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          width: 30%;
        }
      }
    }

    .target {
      @include sidebar;

      &-header {
        @include sidebarHeader;

        img {
          width: 90px;
          height: 15px;
          padding: 5px;
          margin: 0;
        }

        h3 {
          margin-left: 0;
        }
      }

      &-body {
        .body-header {
          h3 {
            margin: 15px auto 10px 20px;
            color: #055555;
            font-size: 20px;
          }
        }

        .body-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 90%;
          height: 250px;

          .housewives {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            color: #b7b7b7;
            height: 75px;

            &-photo {
              display: flex;
              align-items: center;
              width: 30%;
              height: 60px;
            }

            &-desc {
              width: 70%;
              height: 60px;
              margin: 25px 10px 10px;

              h3 {
                font-size: 15px;
              }

              p {
                font-size: 13px;
              }
            }
          }

          .newlyweds {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            color: #b7b7b7;
            height: 75px;

            &-photo {
              display: flex;
              align-items: center;
              width: 30%;
              height: 60px;
            }

            &-desc {
              width: 70%;
              height: 60px;
              margin: 25px 10px 10px;

              h3 {
                font-size: 15px;
              }

              p {
                font-size: 13px;
              }
            }
          }

          .business {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            color: #b7b7b7;
            height: 75px;

            &-photo {
              display: flex;
              align-items: center;
              width: 30%;
              height: 60px;
            }

            &-desc {
              width: 70%;
              height: 60px;
              margin: 25px 10px 10px;

              h3 {
                font-size: 15px;
              }

              p {
                font-size: 13px;
              }
            }
          }

        }
      }
    }

    .easy {
      width: 290px;
      height: 450px;
      background-color: #fff;
      margin: 20px 40px;

      &-header {
        @include sidebarHeader;

        img {
          width: 90px;
          height: 15px;
          padding: 5px;
          margin: 0;
        }

        h3 {
          margin-left: 0;
        }
      }

      &-status {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        width: 90%;

        h5 {
          color: #cecece;
        }

        h5:first-child {
          color: #000;
        }
      }

      &-body {
        display: flex;
        flex-wrap: wrap;
        width: 90%;

        .body-photo {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 30%;
          height: 290px;

          img {
            width: 60px;
            height: 60px;
          }
        }

        .body-desc {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 70%;
          height: 290px;

          .eazy, .middle, .long {
            font-size: 16px;
          }
        }

        .btn-view {
          width: 100%;
          height: 30px;

          #btn-view {
            padding: 7px;
            border: 1px solid #CACACA;
            background-color: #F8F8F8;
            font-size: 11px;
            width: 45%;
            margin: 10px 0 0 130px;
          }
        }
      }
    }


    .tags {
      width: 290px;
      height: 200px;
      margin: 20px 40px;
      background-color: #fff;

      &-header {
        width: 90%;
        height: 25px;
        border-bottom: 1.5px solid #cecece;
        margin: 20px auto;
      }

      &-name {
        width: 90%;
        word-spacing: 5px;
        text-align: justify;
        font-size: 16px;
        line-height: 30px;
      }
    }

    .calendar {
      width: 290px;
      height: 370px;
      margin: 20px 40px;
      background-color: #fff;

      &-header {
        width: 90%;
        height: 25px;
        border-bottom: 1.5px solid #cecece;
        margin: 20px auto;
      }
      &-year  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 40px;
        margin-bottom: 15px;
          img {
            margin: 0;
          }
      }
      &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
          img:first-child {
            margin: 10px 0 25px;
          }
      }
    }

    .popular {
      @include sidebar;
      background: url("../images/sidebar/popular/Base.png");
        &-header {
          font-size: 24px;
          width: 90%;
          margin: 15px auto;
          color: #921026;
          padding: 15px auto 10px 20px;
          border-bottom: 1.5px solid #fff;
        }
      &-body {
        width: 90%;
          h4 {
            margin: 20px 0 10px;
            font-size: 20px;
          }
      }
      .btnandstat {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        #get-it {
          width: 40%;
          padding: 7px;
          border: 1px solid #CACACA;
          background-color: #F8F8F8;
          font-size: 11px;
          margin: 15px 0;
        }
        .stat {
          width: 60%;
          margin: 15px 0 10px 15px;
        }
      }
    }
  }
}


