@mixin repice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  background-color: #EAEAEA;
}

header {
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 75%;
    margin: 0 auto 40px;
    padding-top: 80px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 125px;
    background-color: #F8F8F8;

    .menu-logo {
      background-color: #F8F8F8;
    }

    ul {
      display: flex;
      justify-content: space-between;
      background-color: #F8F8F8;
      list-style-type: none;

      li {
        margin: 0 20px;
        cursor: pointer;
        font-size: 14px;

        .main-menu {
          display: flex;
          flex-direction: column;
          background-color: rgba(255, 255, 255, 0.5);
          position: absolute;
          margin: 25px 0 0 -40px;
          padding: 0;

          .menu-item {
            padding: 10px 0;
            color: rgb(183, 183, 183);

            &--active {
              border-bottom: 1px solid black;
              color: #000;
            }
          }
        }
      }
    }

    #findinp {
      padding: 7px 25px;
      background: url("../images/header/Search Icon.png") no-repeat left 7px center;
      border: 1px solid #000;
      outline: none;
    }
  }
}

main {
  width: 100%;

  .hero-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 420px;
    margin: 40px auto;
    background: url("../images/hero-page/sss.png") no-repeat;

    .page-header {
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 80%;
      margin: 45px 0 0 80px;

      h3 {
        color: #911026;
        font-size: 24px;
        margin: 40px 0 25px;
      }

      img {
        width: 52%;
        margin: 0;
      }

      p {
        width: 85%;
        margin: 0;
      }

      #btn-get {
        padding: 7px;
        border: 1px solid #CACACA;
        background-color: #F8F8F8;
        font-size: 11px;
        margin: 30px 0 15px;
        width: 25%;
      }
    }

    .page-bottom {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: 85%;
      width: 10%;
      height: 20%;
    }
  }

  .repice {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 370px;
    background-color: #fff;
    margin: 80px auto;

    .repice-wrapper {
      @include repice;

      .repice-container {
        display: flex;
        flex-direction: column;
        height: 75%;
        width: 33%;
        margin: 20px 30px 10px;

        img {
          width: 95%;
          height: 85%;
        }

        .repice-comments {
          display: flex;
          flex-direction: column;
          height: 25%;
          width: 100%;

          h5 {
            margin: 10px;
            font-size: 16px;
          }

          .comment {
            display: flex;
            align-items: center;
            margin-left: 10px;

            img {
              width: 12px;
              height: 12px;
              margin-right: 0;
            }

            span {
              font-size: 12px;
              margin: 0 5px;
            }

            .view {
              width: 15px;
              height: 8px;
            }
          }
        }
      }
    }
  }

  .repc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 435px;
    background-color: #fff;
    margin: 20px auto 100px;

    .photo {
      width: 45%;
      height: inherit;
    }

    .description {
      width: 55%;
      height: inherit;

      &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 20px auto;
        font-size: 30px;
        color: #055555;
      }

      &-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 10px auto;

        .icon {
          display: flex;
          align-items: center;
          margin: 5px;
          width: 35%;

          span {
            margin: 0 10px;
          }
        }

        .description-btn {
          width: 25%;
          margin-right: 0;

          #btn-repice {
            background-color: #fff;
            padding: 5px 10px;
            border: 1px solid #cecece;
          }
        }
      }

      &-info {
        width: 77%;
        font-size: 16px;
        margin: 15px auto;
      }
    }
  }



}


//display: flex;
//justify-content: space-between;
//align-items: center;
//width: 100%;

