* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  background-color: #EAEAEA;
}

header {
  width: 100%;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  width: 75%;
  margin: 0 auto 40px;
  padding-top: 80px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 125px;
  background-color: #F8F8F8;
}
header nav .menu-logo {
  background-color: #F8F8F8;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F8F8F8;
  list-style-type: none;
}
header nav ul li {
  margin: 0 20px;
  cursor: pointer;
  font-size: 14px;
}
header nav ul li .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  margin: 25px 0 0 -40px;
  padding: 0;
}
header nav ul li .main-menu .menu-item {
  padding: 10px 0;
  color: #b7b7b7;
}
header nav ul li .main-menu .menu-item--active {
  border-bottom: 1px solid black;
  color: #000;
}
header nav #findinp {
  padding: 7px 25px;
  background: url("../images/header/Search Icon.png") no-repeat left 7px center;
  border: 1px solid #000;
  outline: none;
}

main {
  width: 100%;
}
main .hero-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  height: 420px;
  margin: 80px auto;
  background: url("../images/hero-page/sss.png") no-repeat;
}
main .hero-page .page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  height: 80%;
  margin: 45px 0 0 80px;
}
main .hero-page .page-header h3 {
  color: #911026;
  font-size: 24px;
  margin: 40px 0 25px;
}
main .hero-page .page-header img {
  width: 52%;
  margin: 0;
}
main .hero-page .page-header p {
  width: 85%;
  margin: 0;
}
main .hero-page .page-header #sss {
  display: none !important;
}
main .hero-page .page-header #btn-get {
  padding: 7px;
  border: 1px solid #CACACA;
  background-color: #F8F8F8;
  font-size: 11px;
  margin: 30px 0 15px;
  width: 25%;
  cursor: pointer;
}
main .hero-page .page-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 85%;
  width: 10%;
  height: 20%;
}
main .repice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 370px;
  background-color: #fff;
  margin: 80px auto;
}
main .repice .repice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
main .repice .repice-wrapper .repice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75%;
  width: 33%;
  margin: 20px 30px 10px;
}
main .repice .repice-wrapper .repice-container img {
  width: 95%;
  height: 85%;
}
main .repice .repice-wrapper .repice-container .repice-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25%;
  width: 100%;
}
main .repice .repice-wrapper .repice-container .repice-comments h5 {
  margin: 10px;
  font-size: 16px;
}
main .repice .repice-wrapper .repice-container .repice-comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
main .repice .repice-wrapper .repice-container .repice-comments .comment img {
  width: 12px;
  height: 12px;
  margin-right: 0;
}
main .repice .repice-wrapper .repice-container .repice-comments .comment span {
  font-size: 12px;
  margin: 0 5px;
}
main .repice .repice-wrapper .repice-container .repice-comments .comment .view {
  width: 15px;
  height: 8px;
}
main .repc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 435px;
  background-color: #fff;
  margin: 20px auto 100px;
}
main .repc .photo {
  width: 45%;
  height: inherit;
}
main .repc .description {
  width: 55%;
  height: inherit;
}
main .repc .description-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 20px auto;
  font-size: 30px;
  color: #055555;
}
main .repc .description-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 10px auto;
}
main .repc .description-icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  width: 35%;
}
main .repc .description-icons .icon span {
  margin: 0 10px;
}
main .repc .description-icons .description-btn {
  width: 25%;
  margin-right: 0;
}
main .repc .description-icons .description-btn #btn-repice {
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #cecece;
  cursor: pointer;
}
main .repc .description-info {
  width: 77%;
  font-size: 16px;
  margin: 15px auto;
}
main .notauthor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 500px;
  margin: 50px auto 100px;
}
main .notauthor .notfound {
  width: 45%;
  height: inherit;
  margin: 0;
  background: url("../images/404/bg.png") no-repeat;
}
main .notauthor .notfound-header {
  width: 80%;
  margin: 25px auto 0;
  border-bottom: 1.5px solid #cecece;
}
main .notauthor .notfound-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  margin: 150px 215px;
}
main .notauthor .notfound-description h3 {
  font-size: 30px;
  margin: 0 0 15px 0;
}
main .notauthor .notfound-description p {
  text-align: center;
  font-weight: bold;
  color: #cecece;
}
main .notauthor .notfound-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .notauthor .notfound-btn #btn-back {
  color: #000;
  border: 1px solid #cecece;
  padding: 5px 35px;
  background-color: #fff;
  cursor: pointer;
}
main .notauthor .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45%;
  height: 486px;
  background-color: #fff;
  margin: 12px 0 0 0;
}
main .notauthor .author-header {
  width: 80%;
  margin: 25px auto 0;
  border-bottom: 1.5px solid #cecece;
  margin: 15px auto 0;
  width: 85%;
  height: 30px;
}
main .notauthor .author-biography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 100px;
  margin-top: -40px;
}
main .notauthor .author-biography .photo {
  width: 30%;
  height: 120px;
}
main .notauthor .author-biography .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  height: 100px;
  border-bottom: 1.5px solid #cecece;
}
main .notauthor .author-biography .info h3, main .notauthor .author-biography .info span {
  margin: 5px 0;
}
main .notauthor .author-biography .info img {
  margin-left: 0;
  margin-top: 10px;
}
main .notauthor .author-info {
  width: 50%;
  margin: -50px 0 20px 180px;
  height: 170px;
}
main .notauthor .author-info h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
main .notauthor .author-info img {
  margin: 40px 0 0 100px;
}
main .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
  height: 850px;
  margin: 0 auto 20px;
}
main .sidebar .block {
  width: 288px;
  height: 370px;
  background-color: #fff;
  margin: 20px 40px;
}
main .sidebar .block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 20px 0 10px;
  border-bottom: 1.5px solid #cecece;
  color: #055555;
}
main .sidebar .block-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin: 15px auto;
  height: 60px;
}
main .sidebar .block-profile-info {
  margin-left: 10px;
}
main .sidebar .block-profile-info span {
  font-size: 15px;
}
main .sidebar .block-bg {
  width: 100%;
  height: 200px;
  background: url("../images/sidebar/bg1.png") no-repeat;
}
main .sidebar .block-bg .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 30%;
}
main .sidebar .target {
  width: 288px;
  height: 370px;
  background-color: #fff;
  margin: 20px 40px;
}
main .sidebar .target-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  margin: 20px auto 5px;
  width: 90%;
  border-bottom: 1.5px solid #cecece;
}
main .sidebar .target-header img {
  width: 90px;
  height: 15px;
  padding: 5px;
  margin: 0;
}
main .sidebar .target-header h3 {
  margin-left: 0;
}
main .sidebar .target-body .body-header h3 {
  margin: 15px auto 10px 20px;
  color: #055555;
  font-size: 20px;
}
main .sidebar .target-body .body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 250px;
}
main .sidebar .target-body .body-container .housewives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #b7b7b7;
  height: 75px;
}
main .sidebar .target-body .body-container .housewives-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 60px;
}
main .sidebar .target-body .body-container .housewives-desc {
  width: 70%;
  height: 60px;
  margin: 25px 10px 10px;
}
main .sidebar .target-body .body-container .housewives-desc h3 {
  font-size: 15px;
}
main .sidebar .target-body .body-container .housewives-desc p {
  font-size: 13px;
}
main .sidebar .target-body .body-container .newlyweds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #b7b7b7;
  height: 75px;
}
main .sidebar .target-body .body-container .newlyweds-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 60px;
}
main .sidebar .target-body .body-container .newlyweds-desc {
  width: 70%;
  height: 60px;
  margin: 25px 10px 10px;
}
main .sidebar .target-body .body-container .newlyweds-desc h3 {
  font-size: 15px;
}
main .sidebar .target-body .body-container .newlyweds-desc p {
  font-size: 13px;
}
main .sidebar .target-body .body-container .business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #b7b7b7;
  height: 75px;
}
main .sidebar .target-body .body-container .business-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 60px;
}
main .sidebar .target-body .body-container .business-desc {
  width: 70%;
  height: 60px;
  margin: 25px 10px 10px;
}
main .sidebar .target-body .body-container .business-desc h3 {
  font-size: 15px;
}
main .sidebar .target-body .body-container .business-desc p {
  font-size: 13px;
}
main .sidebar .easy {
  width: 290px;
  height: 450px;
  background-color: #fff;
  margin: 20px 40px;
}
main .sidebar .easy-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  margin: 20px auto 5px;
  width: 90%;
  border-bottom: 1.5px solid #cecece;
}
main .sidebar .easy-header img {
  width: 90px;
  height: 15px;
  padding: 5px;
  margin: 0;
}
main .sidebar .easy-header h3 {
  margin-left: 0;
}
main .sidebar .easy-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 90%;
}
main .sidebar .easy-status h5 {
  color: #cecece;
}
main .sidebar .easy-status h5:first-child {
  color: #000;
}
main .sidebar .easy-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}
main .sidebar .easy-body .body-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 290px;
}
main .sidebar .easy-body .body-photo img {
  width: 60px;
  height: 60px;
}
main .sidebar .easy-body .body-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 290px;
}
main .sidebar .easy-body .body-desc .eazy, main .sidebar .easy-body .body-desc .middle, main .sidebar .easy-body .body-desc .long {
  font-size: 16px;
}
main .sidebar .easy-body .btn-view {
  width: 100%;
  height: 30px;
}
main .sidebar .easy-body .btn-view #btn-view {
  padding: 7px;
  border: 1px solid #CACACA;
  background-color: #F8F8F8;
  font-size: 11px;
  width: 45%;
  margin: 10px 0 0 130px;
  cursor: pointer;
}
main .sidebar .tags {
  width: 290px;
  height: 200px;
  margin: 20px 40px;
  background-color: #fff;
}
main .sidebar .tags-header {
  width: 90%;
  height: 25px;
  border-bottom: 1.5px solid #cecece;
  margin: 20px auto;
}
main .sidebar .tags-name {
  width: 90%;
  word-spacing: 5px;
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}
main .sidebar .calendar {
  width: 290px;
  height: 370px;
  margin: 20px 40px;
  background-color: #fff;
}
main .sidebar .calendar-header {
  width: 90%;
  height: 25px;
  border-bottom: 1.5px solid #cecece;
  margin: 20px auto;
}
main .sidebar .calendar-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 40px;
  margin-bottom: 15px;
}
main .sidebar .calendar-year img {
  margin: 0;
}
main .sidebar .calendar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}
main .sidebar .calendar-container img:first-child {
  margin: 10px 0 25px;
}
main .sidebar .popular {
  width: 288px;
  height: 370px;
  background-color: #fff;
  margin: 20px 40px;
  background: url("../images/sidebar/popular/Base.png");
}
main .sidebar .popular-header {
  font-size: 24px;
  width: 90%;
  margin: 15px auto;
  color: #921026;
  padding: 15px auto 10px 20px;
  border-bottom: 1.5px solid #fff;
}
main .sidebar .popular-body {
  width: 90%;
}
main .sidebar .popular-body h4 {
  margin: 20px 0 10px;
  font-size: 20px;
}
main .sidebar .popular .btnandstat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}
main .sidebar .popular .btnandstat #get-it {
  width: 40%;
  padding: 7px;
  border: 1px solid #CACACA;
  background-color: #F8F8F8;
  font-size: 11px;
  margin: 15px 0;
  cursor: pointer;
}
main .sidebar .popular .btnandstat .stat {
  width: 60%;
  margin: 15px 0 10px 15px;
}
main .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 10px auto 50px;
}
main .auth .login {
  width: 45%;
  height: 400px;
  background-color: #fff;
  margin: 0 60px 0 0;
}
main .auth .login-header {
  width: 90%;
  height: 25px;
  border-bottom: 1.5px solid #cecece;
  margin: 20px auto;
}
main .auth .login-container {
  width: 90%;
}
main .auth .login-container .container-header {
  width: 100%;
  margin: 25px 0 10px;
}
main .auth .login-container .container-input {
  width: 100%;
}
main .auth .login-container .container-input .login-inp {
  padding: 10px 15px;
  width: 87%;
  margin: 10px 0;
}
main .auth .login-container .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #b7b7b7;
}
main .auth .login-container .check .checkinp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .auth .login-container .check .checkinp input {
  margin-right: 5px;
}
main .auth .login-container .btn-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}
main .auth .login-container .btn-log #log-btn {
  padding: 7px;
  border: 1px solid #CACACA;
  background-color: #F8F8F8;
  font-size: 11px;
  margin: 30px 0 15px;
  width: 30%;
  cursor: pointer;
}
main .auth .login-container .log-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px auto;
}
main .auth .login-container .log-icon img {
  margin: 0 15px;
}
main .auth .login-container .singin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b7b7b7;
}
main .auth .signup {
  width: 45%;
  height: 550px;
  background-color: #fff;
  margin: 0 0 0 60px;
}
main .auth .signup-header {
  width: 90%;
  height: 25px;
  border-bottom: 1.5px solid #cecece;
  margin: 20px auto;
}
main .auth .signup-container {
  width: 100%;
}
main .auth .signup-container .container-header {
  width: 90%;
  margin: 25px auto 15px;
}
main .auth .signup-container .container-input {
  width: 90%;
}
main .auth .signup-container .container-input .login-inp {
  padding: 10px 15px;
  width: 87%;
  margin: 10px 0;
}
main .auth .signup-container .btn-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .auth .signup-container .btn-sign #btn-signin {
  padding: 7px;
  border: 1px solid #CACACA;
  background-color: #F8F8F8;
  font-size: 11px;
  margin: 30px 0 15px;
  width: 30%;
  cursor: pointer;
}
main .auth .signup-container .log-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px auto;
}
main .auth .signup-container .log-icon img {
  margin: 0 15px;
}
main .auth .signup-container .loginin {
  width: 90%;
  margin: 0 auto;
  color: #b7b7b7;
}
main .post {
  width: 75%;
  height: 150px;
  margin: 40px auto;
  background-color: #fff;
}
main .post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 45px;
  margin: 0 auto;
}
main .post-header h3, main .post-header p {
  margin: 0;
}
main .post .post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 70px;
  background-color: #F6F6F6;
}
main .post .post-container .container-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 50px;
}
main .post .post-container .container-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 50px;
}
main .post .post-container .container-input input {
  height: 35px;
  width: 85%;
}
main .post .post-container .container-input button {
  height: 41px;
  width: 10%;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}
main .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 80px;
  margin: 40px auto;
  background-color: #fff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #2F2F2F;
  color: #7D7D7D;
  font-size: 14px;
}
footer .footer-logo img:last-child {
  display: none;
}
footer nav .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
footer nav .footer-menu li {
  padding: 0 15px;
}

@media screen and (max-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    max-width: 320px;
  }

  body {
    background-color: #FBFCFD;
  }

  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    height: 50px;
    margin: 20px;
  }
  header .logo {
    width: 30%;
    height: 50px;
    margin: 0;
    padding: 0;
  }
  header .logo img {
    width: 100%;
    height: 40px;
  }
  header nav {
    width: 40%;
    height: 50px;
    margin: 0;
    background-color: #FBFCFD;
  }
  header nav .menu-logo, header nav ul {
    display: none;
  }
  header nav .find input {
    border: none !important;
    font-size: 12px;
  }

  main .hero-page {
    width: 90%;
    height: 200px;
    margin: 20px auto 0;
  }
  main .hero-page .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    height: inherit;
    margin: 0;
    background: url("../images/mob/bg1.png");
  }
  main .hero-page .page-header #btn-get {
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 16px;
    background-color: #FBFCFD;
    border: none;
  }
  main .hero-page .page-header img:first-child, main .hero-page .page-header h3, main .hero-page .page-header p {
    display: none;
  }
  main .hero-page .page-bottom {
    display: none;
  }
  main .repice {
    width: 90%;
    margin: 0 auto 20px;
    height: auto;
    background-color: #FBFCFD;
  }
  main .repice-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .repice-wrapper .repice-container {
    width: 100% !important;
    height: 200px !important;
    margin: 25px auto !important;
    padding: 30px auto;
  }
  main .repice-wrapper .repice-container img {
    width: 100% !important;
  }
  main .repice-wrapper .repice-container .repice-comments {
    width: 90%;
    margin: 0;
  }
  main .repice-wrapper .repice-container .repice-comments h5 {
    margin: 0;
  }
  main .repice-wrapper .repice-container .repice-comments .comment {
    width: 35%;
  }
  main .repc {
    display: none;
  }
  main .notauthor {
    display: none;
  }
  main .sidebar {
    width: 90%;
    margin: 50px auto;
    height: auto;
  }
  main .sidebar .block, main .sidebar .target, main .sidebar .tags, main .sidebar .calendar {
    display: none;
  }
  main .sidebar .easy, main .sidebar .popular {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  main .sidebar .easy-status, main .sidebar .popular-status {
    width: 90%;
    margin: 0 auto;
  }
  main .sidebar .easy-status h5, main .sidebar .popular-status h5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .sidebar .easy-body, main .sidebar .popular-body {
    width: 90%;
    margin: 0 auto;
  }
  main .sidebar .easy-body .eazy, main .sidebar .easy-body .middle, main .sidebar .easy-body .long, main .sidebar .popular-body .eazy, main .sidebar .popular-body .middle, main .sidebar .popular-body .long {
    width: inherit;
    margin-left: -40px;
  }
  main .sidebar .easy-body .btn-view, main .sidebar .popular-body .btn-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto;
  }
  main .sidebar .easy-body .btn-view #btn-view, main .sidebar .popular-body .btn-view #btn-view {
    margin: 0;
  }
  main .auth {
    display: none;
  }
  main .post {
    display: none;
  }
  main .pagination {
    display: none;
  }

  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    height: 300px;
    margin: 0 auto;
  }
  footer .footer-logo {
    width: 35%;
  }
  footer .footer-logo img:last-child {
    display: block;
    margin-top: 15px;
  }
  footer nav {
    width: 65%;
  }
  footer nav .footer-menu {
    display: block;
    text-align: right;
  }
  footer nav .footer-menu li {
    margin: 20px 0;
  }
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-top: 1.5px solid #999;
  }
  footer .copyright p {
    margin: 20px auto;
  }
}

/*# sourceMappingURL=index.css.map */