* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  background-color: #EAEAEA;
}

header {
  width: 100%;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  width: 75%;
  margin: 0 auto 40px;
  padding-top: 80px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 125px;
  background-color: #F8F8F8;
}
header nav .menu-logo {
  background-color: #F8F8F8;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F8F8F8;
  list-style-type: none;
}
header nav ul li {
  margin: 0 20px;
  cursor: pointer;
  font-size: 14px;
}
header nav ul li .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  margin: 25px 0 0 -40px;
  padding: 0;
}
header nav ul li .main-menu .menu-item {
  padding: 10px 0;
  color: #b7b7b7;
}
header nav ul li .main-menu .menu-item--active {
  border-bottom: 1px solid black;
  color: #000;
}
header nav #findinp {
  padding: 7px 25px;
  background: url("../images/header/Search Icon.png") no-repeat left 7px center;
  border: 1px solid #000;
  outline: none;
}

main {
  width: 100%;
}
main .hero-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  height: 420px;
  margin: 80px auto;
  background: url("../images/hero-page/sss.png") no-repeat;
}
main .hero-page .page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  height: 80%;
  margin: 45px 0 0 80px;
}
main .hero-page .page-header h3 {
  color: #911026;
  font-size: 24px;
  margin: 40px 0 25px;
}
main .hero-page .page-header img {
  width: 52%;
  margin: 0;
}
main .hero-page .page-header p {
  width: 85%;
  margin: 0;
}
main .hero-page .page-header #btn-get {
  padding: 7px;
  border: 1px solid #CACACA;
  background-color: #F8F8F8;
  font-size: 11px;
  margin: 30px 0 15px;
  width: 25%;
}
main .hero-page .page-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 85%;
  width: 10%;
  height: 20%;
}
main .repice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 370px;
  background-color: #fff;
  margin: 80px auto;
}
main .repice .repice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
main .repice .repice-wrapper .repice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75%;
  width: 33%;
  margin: 20px 30px 10px;
}
main .repice .repice-wrapper .repice-container img {
  width: 95%;
  height: 85%;
}
main .repice .repice-wrapper .repice-container .repice-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25%;
  width: 100%;
}
main .repice .repice-wrapper .repice-container .repice-comments h5 {
  margin: 10px;
  font-size: 16px;
}
main .repice .repice-wrapper .repice-container .repice-comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
main .repice .repice-wrapper .repice-container .repice-comments .comment img {
  width: 12px;
  height: 12px;
  margin-right: 0;
}
main .repice .repice-wrapper .repice-container .repice-comments .comment span {
  font-size: 12px;
  margin: 0 5px;
}
main .repice .repice-wrapper .repice-container .repice-comments .comment .view {
  width: 15px;
  height: 8px;
}
main .repc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 435px;
  background-color: #fff;
  margin: 20px auto 100px;
}
main .repc .photo {
  width: 45%;
  height: inherit;
}
main .repc .description {
  width: 55%;
  height: inherit;
}
main .repc .description-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 20px auto;
  font-size: 30px;
  color: #055555;
}
main .repc .description-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 10px auto;
}
main .repc .description-icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  width: 35%;
}
main .repc .description-icons .icon span {
  margin: 0 10px;
}
main .repc .description-icons .description-btn {
  width: 25%;
  margin-right: 0;
}
main .repc .description-icons .description-btn #btn-repice {
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #cecece;
}
main .repc .description-info {
  width: 77%;
  font-size: 16px;
  margin: 15px auto;
}
main .notauthor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 500px;
  margin: 50px auto 100px;
}
main .notauthor .notfound {
  width: 45%;
  height: inherit;
  margin: 0;
  background: url("../images/404/bg.png") no-repeat;
}
main .notauthor .notfound-header {
  width: 80%;
  margin: 25px auto 0;
  border-bottom: 1.5px solid #cecece;
}
main .notauthor .notfound-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  margin: 150px 215px;
}
main .notauthor .notfound-description h3 {
  font-size: 30px;
  margin: 0 0 15px 0;
}
main .notauthor .notfound-description p {
  text-align: center;
  font-weight: bold;
  color: #cecece;
}
main .notauthor .notfound-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .notauthor .notfound-btn #btn-back {
  color: #000;
  border: 1px solid #cecece;
  padding: 5px 35px;
  background-color: #fff;
}
main .notauthor .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45%;
  height: 486px;
  background-color: #fff;
  margin: 12px 0 0 0;
}
main .notauthor .author-header {
  width: 80%;
  margin: 25px auto 0;
  border-bottom: 1.5px solid #cecece;
  margin: 15px auto 0;
  width: 85%;
  height: 30px;
}
main .notauthor .author-biography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 100px;
  margin-top: -40px;
}
main .notauthor .author-biography .photo {
  width: 30%;
  height: 120px;
}
main .notauthor .author-biography .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  height: 100px;
  border-bottom: 1.5px solid #cecece;
}
main .notauthor .author-biography .info h3, main .notauthor .author-biography .info span {
  margin: 5px 0;
}
main .notauthor .author-biography .info img {
  margin-left: 0;
  margin-top: 10px;
}
main .notauthor .author-info {
  width: 50%;
  margin: -50px 0 20px 180px;
  height: 170px;
}
main .notauthor .author-info h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
main .notauthor .author-info img {
  margin: 40px 0 0 100px;
}
main .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
  height: 1150px;
  margin: 0 auto 100px;
}
main .sidebar .block {
  width: 288px;
  height: 348px;
  background-color: #fff;
  margin: 20px 40px;
}
main .sidebar .block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 20px 0 10px;
  border-bottom: 1.5px solid #cecece;
  color: #055555;
}
main .sidebar .block-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin: 15px auto;
  height: 60px;
}
main .sidebar .block-profile-info {
  margin-left: 10px;
}
main .sidebar .block-profile-info span {
  font-size: 15px;
}
main .sidebar .block-bg {
  width: 100%;
  height: 200px;
  background: url("../images/sidebar/bg1.png") no-repeat;
}
main .sidebar .block-bg .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 30%;
}
main .sidebar .target {
  width: 288px;
  height: 348px;
  background-color: #fff;
  margin: 20px 40px;
}
main .sidebar .easy {
  width: 290px;
  height: 450px;
  background-color: #fff;
  margin: 20px 40px;
}
main .sidebar .tags {
  width: 290px;
  height: 200px;
  margin: 20px 40px;
  background-color: #fff;
}
main .sidebar .calendar {
  width: 290px;
  height: 370px;
  margin: 20px 40px;
  background-color: #fff;
}
main .sidebar .popular {
  width: 288px;
  height: 348px;
  background-color: #fff;
  margin: 20px 40px;
}
main .sidebar .timeline {
  width: 288px;
  height: 348px;
  background-color: #fff;
  margin: 20px 40px;
}

/*# sourceMappingURL=index.css.map */